<footer>
    <div class="f-info border-upper">
      <div class="f-info-social">
      <img src="/assets/image/facebook.png" alt="facebook" class="icon">
      <img src="/assets/image/instagram-circle.png" alt="instagram" class="icon">
      <img src="/assets/image/twitter-alt-square.png" alt="twitter"  class="icon">
      <img src="/assets/image/whatsapp-circle.png" alt="whatsapp"  class="icon">
</div>

       <div class="f-info-brand"> &copy; Wonderlust Private Limited</div> 
       <div class="f-info-link"> 
        <a href="/privacy">Privacy</a> 
        <a href="/terms">Terms</a>
       </div>
    </div>
</footer>
