<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new chat</title>
    <style>
        body{
    font-family: Arial, sans-serif;
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
        }
        input{
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}
textarea{
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    resize: vertical;
}
button{
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background-color: #218838;
}
    </style>
</head>
<body>
    <h2>Create new chat...</h2>
    <form action="/chats" method="POST">
        <input type="text" placeholder="Who are sending to?" name="from"><br>
        <textarea name="msg" placeholder="write your message here.."></textarea><br>
        <input type="text" placeholder="Received by " name="to"><br>
        <button type="submit">Create Chat</button>
    </form>
</body>
</html>