.btn1 {
    background-color: blue;
    width: 70px;
}
.btn2 {
    background-color: yellow;
    width: 70px;
}
.btn3 {
    background-color: green;
    width: 70px;
}
.btn4 {
    background-color: red;
    width: 70px;
}
.Ludo{
    /* display: flex;
    flex-direction: column;
    align-content: center; */
    justify-content: center;
    justify-items: center;
}