* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    overflow: hidden;
}

.main {
    height: 100vh;
    display: flex;
    padding: 0.5rem;
}

.sidebar {
    background-color: black;
    width: 340px;
    border-radius: 1rem; /* 1 rem = 16px */
    color: #fff;
    margin-right: 0.4rem;
}

.main-content {
    margin-left: 5px;
    flex: 1;
    overflow: auto;
    background-color: #121212;
    border-radius: 1rem;
    color: #fff;
    padding: 0 1.5rem 0 1.5rem;
}

.music-player {
    position: fixed;
    bottom: 0;
    background-color: #000;
    color: #fff;
    width: 100%;
    height: 80px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.nav {
    background-color: #232323;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 117px;
    padding: 0.5rem 0.75rem;
    z-index: 0;
}

.nav-option {
    line-height: 2.7rem;
    opacity: 0.5;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}

.nav-option i {
    font-size: 1.25rem;
}

.library {
    border-radius: 1rem;
    margin-top: 0.5rem;
    height: 100%;
    background-color: #121212;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lab-option img {
    height: 1.25rem;
    width: 1.25rem;
}

.icons {
    font-size: 1.7rem;
    display: flex;
}

.icons i {
    margin-right: 1.7rem;
    cursor: pointer;
    opacity: 0.5;
}

.icons i:hover {
    opacity: 1;
}

.boxes {
    background-color: #232323;
    height: 8rem;
    border-radius: 1rem;
    color: white;
    margin: 0.5rem 0 1.75rem 0;
    padding: 0.5rem 1.3rem;
}

.box-p1 {
    font-size: 1rem;
    font-weight: 600;
}

.box-p2 {
    font-size: 0.82rem;
    opacity: 0.7;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.badge {
    background: #fff;
    border-radius: 100px;
    padding: 0.25rem 1rem;
    font-weight: 700;
    margin-top: 0.5rem;
    height: 2.7rem;
}

.stricky-nav {
    position: sticky;
    top: 0;
    background-color: #121212;
    height: 3.7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 1;
}

.stricky-nav img {
    height: 2rem;
    width: 2rem;
    margin-left: 1rem;
    cursor: pointer;
}

.nav-badge {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-badge button {
    margin-right: 2rem;
}

.dark-button {
    background-color: #000;
    color: #fff;
}

@media (max-width: 1000px) {
    .hide {
        display: none;
    }
}

.card {
    background-color: #232323;
    width: 200px;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    margin-top: 1rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;    
   gap: 1rem;               
}


.card-img {
    width: 100%;
    border-radius: 0.5rem;
}

.card-info {
    font-size: 0.75rem;
    opacity: 0.85;
}

.card-title {
    font-weight: 700;
      margin-bottom: 0.5rem;
}
.h2
 {
    margin-top: 1rem;
 }
 .footer {
  height: 300px;
 }

.line {
  width: 90%;
  height: 2px;
  background-color: white;
  margin: auto;
  border-top: 2px solid white;
}

/* this is last part of the program that is footer of sportfy  */

.music-player {
    display: flex;
   justify-content: space-between;
    align-items: center;
}
.album {
    width: 25%;
}
.player {
    width: 50%;
   margin-top: 0.25rem;
}
.controls {
    width: 25%;
}

.player-controls {
     display: flex;
     justify-content: center;
     align-items: center;
}
.music-player-icon {
    height: 1rem;
    flex-direction: row;
    opacity: 0.7;
    align-items: center;
    margin-left : 2rem;
}
.music-player-icon:hover {
    opacity: 1;
}
.progressBar {
   display: flex;
    justify-content: center;
    align-items: center;  
}
.progress {
    width: 70%;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
}
.progress::-webkit-slider-runnable-track {
    height: 0.5rem;
    background-color: lightcoral;
    border-radius: 30px;
}
.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #1bd760;
}
.album {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.album-info img {
    height: 3rem;
    width: 3rem;
}

.album-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
}
.p1 
{
    font-size: 1rem;
}
.text-container {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}
.album-controls i{
    margin-right: 1rem;
}
.controls {
    
    display: flex;
    justify-content: center; 
    align-items: center;
} 
.control-body i {
    margin-right: 1rem;
    flex-wrap: wrap;
   
}