<nav class="navbar navbar-expand-md bg-body-tertiary border-buttom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="/assets/image/airplane.png" alt="airphone" height="40"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/listings">All listings</a>
        <a class="nav-link" href="/listings/new">Add new listings</a>
        
      </div>
    </div>
  </div>
</nav>