<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show all the user in database</title>
    <style>
        table,th,td,tr {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <table>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>email</th>
        </tr>
        
        <% for( user of result)  { %>
            <tr>
        <td> <%= user.id %> </td>
        <td> <%= user.username %>  </td>
        <td> <%= user.email %> </td>
        <td> <form action="/user/<%= user.id%>/edit">
            <button>edit row</button>
        </form></td>
        </tr>
       <%  } %>
        
         
    </table>
  
</body>
</html>