/* .card {
    height: 350px;
    width: 230px;
    border: 3px solid black;
    border-radius: 7px;
    font-weight: bold;
}
div img {
    width: 100%;
    transition: cover 1s ease-in-out;
    border-top-left-radius: 7px;
    border-top-right-radius:7px;
}

.card:hover {
    box-shadow: 0 0 10px black;
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.card {
padding: 0px 3px 0px 3px;
} */
.smile-face {
  height: 250px;
  width: 250px;
  background-color: yellow;
  border: 4px solid black;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.eye {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
  border: 3px solid black;
  position: absolute;
  top: 60px;
}

.left-eye {
  left: 60px;
}

.right-eye {
  right: 60px;
}

.mouth {
  height: 40px;
  width: 130px;
  background-color: rgb(137, 36, 36);
  position: absolute;
  bottom: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
