<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Listings</title>
</head>
<body>
    <h2> All listings are  showing here!</h2>
    <form action="/listings/new" method="GET"><button> create listings </button> </form>
    <ol>
       <%  for(let listings of allListings){ %>
            <li> <a href="/listings/<%= listings._id %>"> <%= listings.title %> </a> </li>
            
        <br> <br>
      <%  } %>
        
    </ol>
</body>
</html>