body{
    margin-left:30px;
}
.chat{
   background-color: aqua;
   padding: 20px;
   border-radius: 16px;
}
.msg{
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    border-radius: 14px;
    padding: 10px;
}
#received-by{
    text-align: right;
    font-size: 16px;
    color: grey;
    margin-right: 10px;
}
button{
    background-color: blueviolet;
    color: white;
    font-size: 20px;
    border-radius: 14px;
    padding: 10px;
    border: none;
    cursor: pointer;
}