/* Global */
body {
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  padding-right: 2rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;  /* Ensure full height */
  margin: 0;
}

/* navbar */
.navbar {
  height: 5rem;
  background-color: white;
}
.nav-link {
  color: #222222 !important;
}

/* Footer always stays at bottom */
footer {
  margin-top: auto;
  width: 100%;
}

/* Footer content box */
.f-info {
  text-align: center;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;  /* stack items vertically */
  justify-content: center; /* center vertically */
  align-items: center;     /* center horizontally */
  height: 8rem;
}

/* Social icons */
.icon {
  height: 20px;
  width: 20px;
}

.f-info-social img {
  cursor: pointer;
  margin-right: 1rem;
  height: 1.3rem;
}

/* Links */
.f-info-link a {
  text-decoration: none;
  color: #222222;
  margin: 0 0.5rem;
}

.f-info-link a:hover {
  color: blue;
  text-decoration: underline;
}

/* cards */
.card {
  border: none !important;
  margin-bottom: 1rem !important;
  margin-right: 1rem !important;
}
.card-img-top {
  border-radius: 2rem !important;
  object-fit: cover !important;
}
.card-body {
  padding: 0 !important;
}
.card-text {
  font-weight: 400 !important;
}
.listings-link {
  text-decoration: none;
}
.card-img-overlay {
  opacity: 0 !important;
}
.card-img-overlay:hover {
  opacity: 0.2 !important;
  background-color: white;
}

/* new page */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* edit page */
.sub-dark {
  background-color: #fe424d !important;
  border: none;
  border-radius: 1rem;
  font-weight: 800;
}

/* show page */
.show-img {
  height: 50vh;
}
.show-a {
  text-decoration: none;
}
.show-a:hover {
  text-decoration: underline;
}
.btn-show,
.show-edit {
  background-color: #fe424d !important;
  border: none;
  border-radius: 1rem;
  font-weight: 800;
  color: white;
}
