<% layout('layout/Boilerplate.ejs') %>
<body>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 offset-md-2 listing-card ">
                <h2>Create a New Listing</h2>
                <form action="/listings" method="post"  novalidate class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" id="title" name="listing[title]" placeholder="Enter title of listing" class="form-control" required/>
                        <div class="valid-feedback">Titile look good</div>
                        <div class="invalid-feedback">Please enter the valid title</div>
                        
                    </div>

                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea id="description" name="listing[description]" placeholder="Enter description" rows="3" class="form-control" required></textarea>
                        <div class="invalid-feedback">Please enter short description</div>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label"> Upload Image</label>
                        <input type="file" id="image" name="listing[image]" class="form-control" required/>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="price" class="form-label">Price</label>
                                <input id="price" name="listing[price]" placeholder="Enter price" class="form-control" required/>
                                <div class="invalid-feedback">Please enter  price</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="location" class="form-label">Location</label>
                                <input type="text" id="location" name="listing[location]" placeholder="Enter location" class="form-control" required/>
                                <div class="invalid-feedback">Please enter the valid location</div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" id="country" name="listing[country]" placeholder="Enter country" class="form-control" required/>
                        <div class="invalid-feedback">Please enter the valid country </div>
                    </div>

                    <button type="submit" class="btn btn-dark add-btn">Add Listing</button>
                </form> <br> <br>
            </div>
        </div>
    </div>

</body>