<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>
<body>
    <h3>This page belongs to <%= username %></h3>
    <button>Follower <%= data.followers %>+</button>
    <button>Following <%= data.following %>+</button>

    <h3>They are following you:</h3>
    <ul>
        <% data.followerList.forEach(name => { %>
            <li><%= name %></li>
        <% }) %>
    </ul>
</body>
</html>
