<%- include("includes/head.ejs")%>
<body>
    <h1>Welcome to rolldice game:</h1>

    <h3>RollDice gave number : <%= rollVal %></h3>
    <% if(rollVal ==6){%>
    <h2>Congratulations!you rolled 6</h2>
    <%}%> 
    
    <%- incllude("inlcudes/footer.ejs")%>
</body>
</html>